@import url('https://fonts.googleapis.com/css?family=Londrina+Solid|Pacifico');

$page-width: 5in;
$page-height: 7in;

@page {
  size: $page-width $page-height;
  -relaxed-page-width: $page-width;
  -relaxed-page-height: $page-height;
  margin: 0.5in 0.2in;
}

body {
  color: black;
  background: white;
  font-family: 'Londrina Solid', cursive;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Pacifico';
  font-size: 12px;
}

strong {
  color: red;
}

div.title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;

  h1 {
    font-size: 25px;
    line-height: 25px;
  }

  img {
    height: 50px;
  }
}